.button {
  padding: 10px;

  color: white;
  font-weight: bold;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  background: #00a884;

  cursor: pointer;

  transition: all .3s;

  &:hover {
    background: #038a6a;
  }
}